%h1 Actores
%form.custom{:action => "/", :method => "POST"}
  %div#actores
    %div.row
     %div.one.columns
        %input{:type => "text", :name => "actors[0]["id"]", :class => "text",  :placeholder => "id"}
      %div.two.columns
        %input{:type => "text", :name => "actors[0][long_label]", :class => "text",  :placeholder => "Etiqueta"}
      %div.three.columns
        %input{:type => "text", :name => "actors[0][short_label]", :class => "text", :placeholder => "Etiqueta Corta"}
      %div.six.columns
        %input{:type => "text", :name => "actors[0][description]", :class => "text", :placeholder => "Descripción"}                
  %input.radius.button#add{:type => "button", :value => "Añadir Actor"}
  %input.radius.button{:type => "submit", :name => "throw", :value => "Siguiente"}

:javascript
  var cantidad = 0;
  $("#add").click(function(e) {
    e.preventDefault();
    ++cantidad;
    item=
    "<div class='row'>"+
    "<div class='three columns'>"+
    "<input class='text' name='actors["+cantidad+"][long_label]' placeholder='Etiqueta' type='text' />"+
    "</div>"+
    "<div class='three columns'>"+
    "<input class='text' name='actors["+cantidad+"][short_label]' placeholder='Etiqueta Corta' type='text' />"+
    "</div>"+
    "<div class='six columns'>"+
    "<input class='text' name='actors["+cantidad+"][description]' placeholder='Descripción' type='text' />"+
    "</div>"+
    "</div>";
    $("#actores").append(item)   
  });
  
          
