%a.radius.button{:href => "/service"} ¡Rellenaré yo mismo los datos!
%a.radius.button{:href => "/genera"} ¡Quiero ser guiado!
%br
%br
%br
.panel
  %h3.subheader Aqui tienes un ejemplo de la sintaxis JSON utilizada
  %code
    {"actores" : <br/>
    [<br/>
    {"id" : "1" , "long_tittle" : "prueba", "short_tittle" : "prueba larga" , "description" : "description"  },<br/>
    {"id" : "2" , "long_tittle" : "prueba2", "short_tittle" : "prueba larga2", "description" : "description" }<br/>
    ],<br/>
    "objetivos" :<br/>
    [<br/>
    {"id" : "1" , "long_tittle" : "prueba", "short_tittle" : "prueba larga" , "game" : "game", "description" : "description"  },<br/>
    {"id" : "2" , "long_tittle" : "prueba2", "short_tittle" : "prueba larga2", "game" : "game", "description" : "description" }<br/>
    ],<br/>
    "2MAO" :<br/>
    [<br/>
    [2, 3],<br/>
    [-2, 0]<br/>
    ],<br/>
    "MID" :<br/>
    [<br/>
    [0, 2],<br/>
    [2, 1]<br/>
    ]<br/>
    }<br/>
%br
%br
%br
%br
%br
%br
